@media screen and (max-width: 1024px) {
    .header {
        height: 67px;
        // .nav--list {
        //     // display: none;
        // }
    }
}

@media screen and (max-width: 560px){
    .header {
        padding: 0 40px;
        height: 67px;
        .nav {
            display: none;
            height: 0px;
            &-show {
                display: flex;
            }
        }
        .nav--list {
            display: flex;
            position: absolute;
            flex-direction: column;
            top: 70px;
            right: 35px;
            z-index: 2;     
            &-item {
                margin-bottom: 10px;
                
                &-menu {
                    position: absolute;
                    right: 42px;
                    display: block;
                    cursor: pointer;
                }
            }
        }

        &--search {
            display: none;
        }
        &--logo-text {
            display: none;
        }
        &--logo-icon {
            border-width: 39px 24px 28px;
            img {
                height: 56px;
                top: -35px;
                left: -24px;
            }
        }
    }
    .firstpage {
        background-image: url(../img/BookLikeMobile.png);
        min-height: 640px;
        padding-top: 3px;
        &--wrapper {
            background-image: url(../img/DinosaurCarnoutMobile.png);
            background-position: right 85px;
            min-height: 100px;
            margin-top: 0;
            padding-top: 0;
            text-align: center;
        }
        &--other {
            padding: 0px;
            &-img{
                img {
                    height: 100%;
                }
            }
            &-text {
                width: 100%;
                padding: 15px 0;
                
                p {
                    padding: 0 15px;
                }
                img {
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
        &--text {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            align-items: center;
            min-height: 573px;
            background-color:rgba(245, 245, 245, 0);
            h1 {
                margin-top: 20px;
                font-style: normal;
                font-weight: 800;
                font-size: 40px;
                line-height: 33px;
            }
            h2 {
                margin-top: 4px;
                margin-bottom: 0px;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
            }
            p {
                margin-top: 420px;
                font-size: 16px;
                border-radius: 10px;
                background-color: rgba(171, 241, 241, 0.534);
            }
            h3 {
                display: none;
            }
            button {
                margin-top: auto;
                margin-bottom: 16px;
            }
        }
    }
}
