$DinoIconWhite: url(../icon/CarnoWhite.svg);
$DinoIconBlack: url(../icon/CarnoBlack.svg);
$DefaultBlue:  #6AA3F9;
$DefaultBlueHover:  #4586E8;
$DefaultBlueActive: #1C69DB;
$CarnivoreRed: #E67A7A;
$CarnivoreRedHover:#DA5E5E ;
$CarnivoreRedActive: #C74646;
$HerbGreen: #97D9A1;
$HerbGreenHover: #70C87E;
$HerbGreenActive: #54B963;
$FlyYellow: #FFEBB7;
$FlyYellowHover: #F1D691;
$FlyYellowActive: #F9D16B;
$WaterSky: #B9E4F2;
$WaterSkyHover: #8FD2E7;
$WaterSkyActive: #55C2E4;
$BlocksBackground: rgba(245, 245, 245, 0.801);