.header {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    max-width: 1300px;
    min-height: 112px;

    &__logo {
        width: 275px;
        img {
            width: 100%;
        }
    }

    &__search {
        margin-left: 95px;

        button {
            height: 88px;
            width: 96px;
            background: #6AA3F9;
            box-shadow: -5px 5px 4.54038px rgba(106, 163, 249, 0.29);
            border-radius: 2px 2px 10px 10px;
            border: 0;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            color: #F2F0F1;
            &:hover {
                background: #4586E8;
            }
            img {
                margin: 9px 0 3px 0;
            }

        }
    }

    &__menu {
        display: flex;
        padding-right: 15px;
        margin-left: auto;
        
    }

    &__item {
        margin-left: 8px;

        &_menu {
            margin-left: 22px;
        }
    }
}

